@font-face {font-family: 'DwarvenAxeBB';src: url('./fonts/3073CA_0_0.eot');src: url('./fonts/3073CA_0_0.eot?#iefix') format('embedded-opentype'),url('./fonts/3073CA_0_0.woff2') format('woff2'),url('./fonts/3073CA_0_0.woff') format('woff'),url('./fonts/3073CA_0_0.ttf') format('truetype');}
@font-face {font-family: 'DwarvenAxeBB-Italic';src: url('./fonts/3073CA_1_0.eot');src: url('./fonts/3073CA_1_0.eot?#iefix') format('embedded-opentype'),url('./fonts/3073CA_1_0.woff2') format('woff2'),url('./fonts/3073CA_1_0.woff') format('woff'),url('./fonts/3073CA_1_0.ttf') format('truetype');}

/*

grey: #5D5A50
yellow: #C9B569
*/

body {
  background: #2F2F2F;
  color: #A0A0A0;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  padding: 5px;
  cursor: url(./cursor.png), auto;
}

h1 {
  color: #C9B569;
  font-size: 30px;
  font-family: 'DwarvenAxeBB';
  font-weight: normal;
  padding: 0;
  margin: 10px 0 5px 0;
}

.location-selector, .length-selector, .level-provisions {
  width: 320px; /* = 8 * 40 */
  margin-bottom: 20px;
}

.torch-radio-group > div {
  display: flex;
  justify-content: space-around;
}

.torch-radio {
  flex: 0 1 auto;
  cursor: url(./cursor_link.png), auto;
}

.torch-radio > input {
  visibility: hidden;
  position: absolute;
}

.torch-radio > .torch-radio-icon {
  display: inline-block;
  vertical-align: middle;
  width:  38px;
  height: 56px;
  text-align: center;
  background: url('./checkbox_sprite.png') no-repeat -38px 0;
}

.torch-radio > input:checked + .torch-radio-icon {
  background-position : 0 0;
}

.torch-radio > input:checked ~ .torch-radio-label {
  color: #C9B569;
}

.copyrights {
  text-align: center;
  font-size: 12px;
}

.copyrights a:visited, .copyrights a {
  color: #C9B569;
  cursor: url(./cursor_link.png), auto;
}

.provisions-list {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 160px;
  background: url('./provisions_background.png') no-repeat 0 0;
}

.provision-item {
  position: relative;
  height: 80px;
}

.provision-quantity {
  position: absolute;
  top: 4px;
  left: 6px;
  font-size: 18px;
  color: #C9B569;
  font-family: 'DwarvenAxeBB';
}

.provision-icon {
  width: 40px;
}

.provisions-total {
  text-align: center;
  margin: 5px;
  font-family: 'DwarvenAxeBB';
  font-size: 24px;
}

.provisions-total-label {
  color: #C9B569;
}

.selectorsAndProvisions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.centered {
  text-align: center;
}

#logo {
  max-width: 300px;
}

.curio {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 30px 0;
  align-items: center;
}

.curio-cell {
  flex: 0 1 auto;
  width: 160px;
  margin: 5px 0;
}

.curio-activator {
  width: 40px;
  margin: 0 5px;
}

.curio-cell-container {
  display: flex;
  align-items: center;
}

.curio-cell-item {
  flex: 0 1 auto;
}

.curio-icon {
  max-width: 120px;
}

.curio-description {
  text-align: center;
  font-size: 18px;
}

.curio-name {
  color: #C9B569;
  margin-bottom: 10px;
}
.curio-with {
  color: #C9B569;
}

.curio-outcome {
  padding-left: 5px;
  padding-top: 5px;
  font-size: 14px;
}

.curio-outcome-chances {
  margin-right: 5px;
}

.location-tips {
  width: 500px;
}

.tips-category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tips-category-item {
  margin: 10px 5px;
  width: 150px;
}

.tips-category {
  font-size: 30px;
  font-family: 'DwarvenAxeBB';
}

.tips-category-effective {
  color: green;
}

.tips-category-ineffective {
  color: orange;
}

.tips-category-dangers {
  color: red;
}

.tips-label {
  color: #C9B569;
}

.tips-list-item {
  margin: 8px 0;
}

.tips-details {
  padding-left: 5px;
  font-size: 12px;
}
