body {
  background: #424242;
  color: #C7C7C7;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  padding: 5px;
}

h1 {
    color: white;
    font-weight: bold;
}

input[type=radio] {
  margin: 0 5px 0 20px;
}

.provision-amount {
  width: 20px;
  text-align: right;
  display: inline-block;
}

.selectorsAndProvisions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.centered {
  text-align: center;
}

#logo {
  max-width: 300px;
}

.curio {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.curio-cell {
  flex: 0 1 auto;
  width: 300px;
  margin: 5px 0;
}

.curio-name {
  font-size: 20px;
  color: white;
}

.curio-outcome {
  padding-left: 5px;
  padding-top: 5px;
}

.location-tips {
  width: 500px;
}

.tips-category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.tips-category-item {
  margin: 0 5px;
  width: 150px;
}

.tips-category {
  font-size: 18px;
  color: white;
}

.tips-category-effective {
  color: green;
}

.tips-category-ineffective {
  color: orange;
}

.tips-category-dangers {
  color: red;
}

.tips-list-item {
  margin: 8px 0;
}

.tips-details {
  padding-left: 5px;
  font-size: 12px;
}
